{
  "api_endpoint": "https://ev.admin.api.barryofeverything.com",
  "api_token": "FETCH_FROM_SERVER_WITH_GET_MANAGEMENT_ACCESS_PS1",
  "ui_url": "https://ev.admin.barryofeverything.com",
  "role": "admin"
}
