{
  "SIM_PORT": "5600",
  "SIM_API_HOST": "127.0.0.1:5600",
  "SIM_PUBLIC_ORIGIN": "http://127.0.0.1:5600",
  "SIM_ADMIN_TOKEN": "GENERATE_64_LOWERCASE_HEX_CHARACTERS",
  "SIM_CSMS_URL": "",
  "SIM_STATION_SECRETS": {},
  "SIM_CA_FILE": ""
}
